@{
    Layout = "~/_SiteLayoutLogin.cshtml";
    Page.Title = "Welcome to my online scheduling application";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>PLease Log in</h2>
        </hgroup>
       
    </div>
</section>
}


<ol class="round">
    
       
   
</ol>