@{
    Layout = "~/_SiteLayoutNoMenu.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your app description page.</h2>
</hgroup>

<article>
    <p >
        <script src="//www.gmodules.com/ig/ifr?url=http://www.solobuonumore.com/muliti_rss.xml&amp;up_title=Feeds%20in%20Tabs&amp;up_tabFontSize=0.7em&amp;up_showFeedDesc=1&amp;up_feed1=http%3A%2F%2Fwww.medicalnewstoday.com%2Frss%2Fheart-disease.xml&amp;up_feedTitle1=Heart%20Disease%20News&amp;up_feed2=http%3A%2F%2Ffeeds.health.com%2Fhealth%2Fheart-disease&amp;up_feedTitle2=Heart%20disease&amp;up_feed3=http%3A%2F%2Ffeeds.theheart.org%2Fheart-failure&amp;up_feedTitle3=Heart.org&amp;up_feed4=http%3A%2F%2Fwww.news-medical.net%2Ftag%2Ffeed%2FHeart-Failure.aspx&amp;up_feedTitle4=%20Heart%20Failure%20Research&amp;up_entries=3&amp;up_summaries=200&amp;up_renderHtml=1&amp;up_showTimestamp=1&amp;up_selectedTab=&amp;synd=open&amp;w=320&amp;h=250&amp;title=Multiple+RSS+Feed+Reader&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Menu</h3>
    <ul>
        <li><a href="~/PatientScheduling">Appointment</a></li>
        <li><a href="~/VitalSigns">Vital Signs</a></li>
        <li><a href="~/EmailRequest">Email</a></li>
        <li><a href="~/https://account.healthvault.com/?culture=en-US">HealthVault</a></li>
    </ul>
</aside>