@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Vital Signs";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Please select on a link below</h2>
</hgroup>

<article>
    <p>
        Please review your vital signs on this pageUse this area to provide additional information.
    </p>

</article>

<aside>
    <h3>Menu</h3>
    <p>
        Your vital signs in graph form.
    </p>
    <ul>
        
        <li><a href="~/Weight">Weight</a></li>
        <li><a href="~/Pulse">Pulse</a></li>
        <li><a href="~/BloodPressure">Blood Pressure</a></li>
    </ul>
</aside>