@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Weight Readings";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Readings must be above safezone to be normal</h2>
</hgroup>

	<meta charset='UTF-8'>
	
	<title>My Weight Readings</title>
	
			
	 <!--Load the AJAX API-->
   <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['CoreChart']});
    </script>
    <script type="text/javascript">
    var visualization;

    function drawVisualization() {
      // To see the data that this visualization uses, browse to
      // http://spreadsheets.google.com/ccc?key=pCQbetd-CptGXxxQIG7VFIQ
      var query = new google.visualization.Query(
          'https://docs.google.com/spreadsheet/pub?key=0ApJq3qdGfj8XdFVDVFQ5a0NZZS1NRXI0TnE1WFlUOXc&single=true&gid=0&output=html');
    
      // Send the query with a callback function.
      query.send(handleQueryResponse);
    }
    
    function handleQueryResponse(response) {
      if (response.isError()) {
        alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
        return;
      }
   
var options = {
          title: 'My Weight Readings',
  curveType: "function"
 
 
        };
      
      var data = response.getDataTable();
      visualization = new google.visualization.ScatterChart(document.getElementById('visualization'));
      visualization.draw(data, options);
    }
    

    google.setOnLoadCallback(drawVisualization);
    </script>

<article>
   
    <p>
        My readings: <a href="~/Pulse">Pulse</a>, <a href="~/Weight">Weight</a>, <a href="~/BloodPressure">Blood Pressure</a>
    </p>
    <p>
        Statistics: AVE = 153.4 &nbsp&nbsp STDEV = 2.35
    </p>
    
      <!--Div that will hold the pie chart-->
    <div id="visualization" style="height: 400px; width: 800px;"></div>
</article>

